html {
  cursor: url("/img/cursor.png"), auto;
}

a {
  cursor: url("/img/linksel.png"), auto;
}

body {
  background-color: #3c6ea6;
  color: black;
  font-family: Verdana, sans-serif;
}
.main-window { 
  padding: 2px;
  background-color: #d4d0c8;
	margin: 0 auto;
	width: 700px;
	border: 1px solid #808080;
	}
.main-window-content {
  padding: 10px;
}
@font-face { font-family: Franklin; src: url("/font/framd.ttf"); }
h1 {
  text-align: center;
  font-family: Franklin, sans-serif;
  font-weight: normal;
}
.navbar {
  background-image: url("/img/titlegradient.png");
  background-size: cover;
  text-align: center;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}